.wrapper{
  background-image: url("https://cdn.pixabay.com/photo/2014/04/30/15/56/diamonds-335025__340.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  display:-ms-flexbox;
  display:flex;
  min-height:80%;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -ms-flex-pack:center;
  justify-content:center;
  padding-top:100px;
  padding-bottom:50px;
  width:100%;
  margin:0 auto
}
